$primary-color: #b9b1b1;

h1 {
  color: $primary-color;
}


%alert-success {
  border: 1px solid #ccc;
  padding: 10px;
  color: green;
}


%alert-fail {
  @extend %alert-success;
  color : red;
}



//Dark mode enabled
.night-activated {
  background-color: #3f3f3f;
}



.night-activated .js-night{
  background-color: #3f3f3f;
  color: #f3f3f3;
}